# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# API keys
.env

# ChromaDB
data/processed/chroma_db/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db